@import url(https://fonts.googleapis.com/css?family=Raleway:400,300italic);

body {
	font-family: 'Raleway', sans-serif;
    color: #333;
    text-shadow: 0 0 0.03em #aaa;
}

h1 {
	color: gray;
}

h6 {
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
}

.container {
	max-width: 40em;
    margin: auto;
}

p {
	text-align: justify;
}