@import url(https://fonts.googleapis.com/css?family=Raleway:400,300italic);

body {
	font-family: 'Raleway', sans-serif;
    color: #333;
    text-shadow: 0 0 0.03em #aaa;
}

h1, h2 {
	color: gray;
}

p.summary {
	font-size: 1.1em;
	font-style: italic;
}

h4 {
	margin-bottom: 0px;
}

ul p {
	-webkit-margin-before: 0.1em;
}


.container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.content {
	max-width: 40em;
}

.container ul {
	flex: 0 0 20em;
	font-size: 0.8em;
}


@media (min-width: 62em)/*, (max-height: 30em)*/ {
.container ul {
	margin-left: 3em;
	padding-left: 2em;
	border-left: 1px solid #eee;	
}
} 

@media (max-width: 62em)/*, (max-height: 30em)*/ { 
	.container {
		flex-direction: column;
		align-items: center;
	}
	.container ul {
		max-width: 48em;
		padding-left: 0px;
	}
	.container ul li {
		list-style-type: none;
	}
}

@media (max-width: 62em), (min-width: 42em) { 
	.container ul {
		display: flex;
		justify-content: space-between;
	}
	.container ul li {
		flex: 0 0 45%;
	}
}

@media (max-width: 42em)/*, (max-height: 30em)*/ { 
	.container {
		padding: 0 1em;
	}
}



p {
	text-align: justify;
}