@import url(https://fonts.googleapis.com/css?family=Raleway:400,300italic);

body {
	font-family: 'Raleway', sans-serif;
    color: #333;
    text-shadow: 0 0 0.03em #aaa;
}

h1, h2 {
	color: gray;
}

p.summary {
	font-size: 1.1em;
	font-style: italic;
}

h4 {
	margin-bottom: 0px;
}

ul p {
	-webkit-margin-before: 0.1em;
}


.container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.content {
	max-width: 40em;
}

.container ul {
	flex: 0 0 20em;
	font-size: 0.8em;
	margin-left: 3em;
	padding-left: 2em;
	border-left: 1px solid #eee;	
}



@media (max-width: 62em)/*, (max-height: 30em)*/ { 
	.container {
		flex-direction: column;
		align-items: center;
	}
	.container ul {
		flex: 0 1 40em;
		max-width: 48em;
	}
}




p {
	text-align: justify;
}